<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyAssistant</title>
</head>

<body>
    <h1>PyAssistant</h1>
    <p>
        This simple, Flask, Python web app is a collection of everyday tools.
        Select a tool below to get started.
    </p>
    <ul>
        <li>
            <a href=".\quick-list">QuickList</a>
            <p>
                Make lists usable for tracking todos or as shopping lists. Uses
                browser storage so no account is needed.
            </p>
        </li>
    </ul>
</body>

</html>